<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
		<!-- Thay đổi giá trị cho phù hợp với môi trường của bạn -->
		<add name="QuanLyCapChungChiDB" connectionString="Data Source=DESKTOP-U7HLODO\SQLEXPRESS;Initial Catalog=QuanLyCapChungChi;User ID=sa;Password=123456;Encrypt=False" providerName="System.Data.SqlClient" />
		<!-- Encrypt=False được thêm vào để tránh lỗi kết nối tiềm ẩn trên một số cấu hình SQL Server mới nếu không dùng SSL.
             Trong môi trường production, nên cấu hình SSL (Encrypt=True) và TrustServerCertificate=False (nếu có chứng chỉ hợp lệ). -->
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>